@import "tailwindcss";

@theme {
  --font-sans: Arial, Helvetica, sans-serif;
  --color-site-text: rgba(255, 255, 255, 0.87);
  --color-site-bg-color: #1a2332;
  --color-site-alt-bg-color: #4fb3d9;
}

@layer components {

  .btn-primary {
    @apply p-1 border rounded-lg hover:shadow-xl/30 transform transition duration-250 ease-in-out hover:scale-110 hover:cursor-pointer;
  }

  .icon-primary {
    @apply p-1 border rounded-lg hover:shadow-xl/30 transform transition duration-250 ease-in-out hover:scale-110 hover:cursor-pointer;
  }

  .btn-secondary {
    @apply transform transition duration-250 ease-in-out hover:scale-110 hover:cursor-pointer;
  }

}

:root {
  /* Change when implementing light /dark mode switch */
  /* color-scheme: light dark; */

  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-sans);
  color: var(--color-site-text);
  background-color: var(--color-site-bg-color);

  /* Left from scaffolding */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}